* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

.hi1 {
    color: #80ff00b3;
}
.h2 {
   font-size: 0%;
  text-align: center;
}
h5 {
   
    text-align: center;
}
hr {
  border: none;
  height: 6px;
  background: linear-gradient(to right, #010d08, #0000ff);
  box-shadow: 0 2px 5px rgba(22,99,065,0.3);
  border-top-left-radius: 10px;
  width: 100%;
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 5px;
}

.hicham {
    display: flex;
    justify-content:space-around;
  
}
.col{
    margin-top: auto;
    padding-top: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: auto;
    padding-bottom: auto;
    background-color: #e6e6e6;
    height: 35px;
}
<!-- drack mode --->
:root {
      --bg-color: #ffffff;
      --text-color: #222222;
    }

    [data-theme="dark"] {
      --bg-color: #121212;
      --text-color: #e0e0e0;
    }

    body {
      background-color: var(--bg-color);
      color: var(--text-color);
      margin: 0;
      padding: 40px;
      font-family: Arial, sans-serif;
      transition: 0.4s;
    }

    /* Bouton Dark Mode */
    #darkModeBtn {
      position: fixed;
      top: 1px;
      right: 1px;
      padding: 12px 16px;
      font-size: 18px;
      background: #333;
      color: white;
      border: none;
      border-radius: 50px;
      cursor: pointer;
      box-shadow: 0 4px 10px rgba(0,0,0,0.2);
      z-index: 1000;
      transition: 0.3s;
    }

    #darkModeBtn:hover {
      transform: scale(1.1);
    }
    <!-- fin drack mode --->
    .h14 {
        text-decoration: solid;
      list-style-type: none;
      color:black
    }
    
    .gool1 {
        width: 100%;
    }
    
   thead {
    background-color:black;
    color: rgb(255, 255, 255);
    font-display: auto;
    font-size: small;
    color: #0000ff;

    }
    